
<mat-toolbar color="primary">
   <div style="width:33%">
    <button style="float:left" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
   </div>
   <div style="width:33%">
    <span>FantaAppaPapà</span>
    <span class="example-spacer"></span>
</div>
   
    <div style="width:33%">
        <button style="float:right" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </div> 
    
    
</mat-toolbar>
